#container-div {
    display: grid;
    border: 3px solid pink;
    margin: 0 auto;
    max-width: 650px;
    max-height: 600px;
  }
  
  body {
    text-align: center;
  }
  
  #options-div {
    margin-top: 15px;
  }
  
  button {
    height: 30px;
    width: 70px;
    margin-right: 5px;
    color: red;
  }
  
  button:hover {
    transform: scale(1.2);
    background-color: white;
    border: 1px solid rgb(247, 243, 5);
    color: teal;
  }
  
  label {
    margin-left: 5px;
  }
  
  select {
    padding: 5px;
  }